# Backend Server Configuration
PORT=5000

# Gmail SMTP Configuration
# Use your Gmail address as GMAIL_USER
GMAIL_USER=zoyaminhas733@gmail.com

# Go to your Google Account -> Security -> 2-Step Verification -> App Passwords
# Generate a 16-character app password and paste it here without spaces
GMAIL_PASS="kmev pvvn iwks beds"

# The email address that should receive the trials form notifications
EMAIL_RECEIVER=zoyaminhas733@gmail.com
